#clockContainer{  
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw; 
    background: url(./img/bg.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background: linear-gradient(red 0%, orange 10%, orange 20%, yellow 30%, yellow 40%, green 50%, green 60%,blue 70%,indigo 80%,violet 100%);
    border-radius: 10px; 
    transform-origin: bottom;
}
#hour{
    width: 1.8%;
    height: 24%;
    top: 27%;
    left: 48.85%;
    opacity: 0.8;  
}
#minute{
    width: 1.6%;
    height: 33%;
    top: 18%;
    left: 48.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 40%;
    top: 11%;
    left: 49.25%;
    opacity: 0.8; 
    
}